.container {
  width: 97px;
  height: 40px;
  border-radius: 50px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 20px;
  line-height: 30px;
}
